/** @format */

.seat-map-content {
   background-color: rgb(14, 14, 14);
   height: 100vh;
   width: 100vw;
}

.seat-map-header-2 {
   height: 60px;
   padding-top: 10px;
   padding-right: 5%;
}

.seat-map-header-controls {
   margin-right: 4%;
}

.add-floor-map-button {
   height: 40px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.add-floor-map-icon {
   margin-bottom: 2px;
   font-size: 25px;
}

.floor-plan-select-dropdown button {
   background-color: rgba(15, 15, 15);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.floor-plan-select-dropdown .btn:hover {
   background-color: rgba(15, 15, 15);
}

.floor-plan-select-dropdown .dropdown-toggle {
   font-size: 20px; /* Adjust the font size as needed */
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active .floor-plan-select-dropdown:hover {
   background-color: rgba(15, 15, 15) !important;
}

#seat-map-content-panel {
   display: flex;
   position: relative;
}

.seat-map-editor-container {
   background-color: rgba(15, 15, 15);
   display: grid;
   grid-template-rows: auto;
}

.edit-name {
   color: var(--accent);
   font-size: 18px;
   padding-bottom: 5px;
}

.seat-map-header {
   grid-row: 1; /* Place item in the second row */
   color: var(--light-text);
}

.seat-map-editor {
   background-color: rgb(20, 20, 20);
   color: var(--light-text);
   display: grid;
   grid-template-columns: 1fr 1fr; /* Adjusted for equal width side columns */
   align-items: start;
   max-height: 100vh;
   max-width: 100vw;
}

.property-panels-container {
   grid-template-rows: auto;
}

.table-properties-header {
   font-size: 30px;
   letter-spacing: -2px;
   text-align: left;
   width: 100%;
   color: var(--light-text);
   border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.table-header-container {
   background-color: rgba(15, 15, 15);
   padding: 10px;
   margin: 10px;
   border: 1px solid rgb(139, 139, 139);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
   position: relative;
   width: 70%;
}

.people-count {
   position: absolute;
   top: 1%;
   right: 2%;
   font-size: 20px;
   color: white;
   display: flex;
   align-items: center;
}

.people-count svg {
   margin-right: 5px;
}

.table-count {
   position: absolute;
   top: 40%;
   right: 4%;
   font-size: 20px;
   color: white;
   display: flex;
   align-items: center;
}

.table-count svg {
   margin-right: 5px;
}

#table-properties-input-group {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
   column-gap: 10px;
   row-gap: 10px;
   padding: 20px;
}

#table-input {
   width: 100%;
}

.table-properties-container {
   background-color: rgba(15, 15, 15);
   padding: 10px;
   margin: 10px;
   width: 70.1%;
   border: 1px solid rgb(139, 139, 139);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
   position: relative;
}

.table-properties-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.seat-map-container {
   border-radius: 6px;
}

.seat-map-grid {
   overflow: hidden;
   height: 80vh;
   width: 70vw;
}

.seat-map {
   background: white;
}

.circle {
   position: absolute;
   width: 50px;
   height: 50px;
   background: blue;
   border-radius: 50%;
}

.rectangle {
   position: absolute;
   width: 75px;
   height: 50px;
   background: blue;
}

.table-type-selector button {
   display: block;
   margin-bottom: 10px;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   background-color: #ddd;
   transition: background-color 0.3s;
}

.table-type-selector button:hover {
   background-color: #bbb;
}

.table-type-selector {
   position: relative;
}

.draggable-container {
   display: flex;
   flex-direction: column; /* or row, depending on your layout */
   position: relative;
}

.draggable-overlay {
   width: 100%;
   height: 100%;
   background: transparent;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
}

.draggable-overlay.dragging {
   cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
}

.draggable {
   cursor: grab;
}
.draggable:active {
   cursor: grabbing;
}

.custom-drag-cursor {
   cursor: grab; /* Or any other desired cursor */
}

body.dragging {
   cursor: grab; /* Or any other desired cursor */
}
