/**
 * SignIn.css
 *
 * @format
 */

.signin-background {
   background-color: #f0f2f5;
   background-color: var(--dark-bg);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.signin-card {
   background-color: var(--dark-sidebar);
   border-radius: 8px;
   /* Adjust the box-shadow to match Facebook's design */
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
   width: 400px;
   padding: 20px;
   margin: auto;
}

h2 {
   font-size: 28px; /* Slightly reduced to fit better on smaller screens */
   color: #1c1e21;
   font-weight: 600; /* Facebook uses a bolder font for the title */
   margin-bottom: 10px;
}

.form-control {
   font-size: 17px;
   line-height: 20px;
   height: 52px;
   padding: 14px 16px;
   border-radius: 6px;
   border: 1px solid #dddfe2;
   --input-color
   background-color: var(--input-color);
}

.btn-primary {
   background-color: #1877f2;
   border-color: #1877f2;
   font-size: 20px;
   padding: 10px 16px; /* Adjust padding to match Facebook's button style */
}

.btn-success {
   background-color: #42b72a;
   border-color: #42b72a;
   font-size: 17px;
   padding: 10px 16px; /* Consistent padding with the log in button */
   margin-top: 20px; /* Space between the buttons */
}

.forgot-password {
   color: #1877f2;
   text-decoration: none;
   font-size: 14px;
}

.forgot-password:hover {
   text-decoration: underline;
}

hr {
   margin-top: 20px;
   border: 0;
   border-top: 1px solid #ccd0d5;
}
