/** @format */

.manage-service-header {
   background-color: rgb(15, 15, 15);
   display: grid;
   grid-template-rows: auto auto; /* Two rows */
   grid-template-columns: 0.5fr 3fr 0.5fr; /* Three columns */
   align-items: center;
   text-align: center;
   box-shadow: 0px 0px 5.1px hsl(0deg 0% 0% / 0.42);
}

.manage-service-service-info-header {
   grid-row: 1 / 2; /* Top row */
   grid-column: 2 / 3; /* Center column */
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.manage-service-seat-map-selector-container {
   grid-row: 2 / 3; /* Second row */
   grid-column: 2 / 3; /* Center column */
   display: flex;
   justify-content: flex-start;
}

.manage-service-seat-map-selector Button {
   border-radius: 500px;
}

.manage-service-header h2 {
   margin-right: 10px;
}

.manage-service-container {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr; /* Set the middle column to be the largest */
   gap: 10px; /* Add some space between the columns */
   padding: 5px;
   height: 100vh;
}
.waitlist-container,
.reservation-container {
   background-color: rgb(15, 15, 15);
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0px 0px 5.1px hsl(0deg 0% 0% / 0.42);
}

.manage-service-floor-map-container {
   border-radius: 8px;
   height: 83vh;
}

.manage-service-floor-map {
   background-color: rgb(15, 15, 15);
   box-shadow: 0px 0px 5.1px hsl(0deg 0% 0% / 0.42);
   height: 92vh;
   width: 60vw; /* Adjusted to fit within the container */
   position: relative;
   border-radius: 8px;
}

.waitlist-card,
.reservation-card {
   background-color: rgb(35, 35, 35);
   padding: 15px;
   border-radius: 8px;
   margin-bottom: 15px;
   box-shadow: 0px 0px 5.1px hsl(0deg 0% 0% / 0.42);
}

.waitlist-card-header-row,
.reservation-card-header-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

.waitlist-card-info-row,
.reservation-card-info-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.waitlist-party-size,
.reservation-party-size,
.waitlist-card-wait-time,
.reservation-card-wait-time {
   display: flex;
   align-items: center;
}
