/** @format */

.resize-handle {
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: se-resize;
   color: white;
   transform: scaleX(-1);
   font-size: 1rem;
}

.rotate-handle {
   width: 15px;
   height: 15px;
   background-color: red; /* Change to whatever you prefer */
   position: absolute;
   top: -20px;
   left: 50%;
   transform: translateX(-50%);
   cursor: pointer;
}
